:root {
  --vh: 100%;
 }
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color : transparent !important;
  /* user-select: none; //유저가 더블클릭 등을 이용하여 글자를 선택하는 것,복사 막기 */
}

html {
  /* overflow: hidden; */
}

html,
body {
  /* overscroll-behavior-y: none; // 모바일디바이스 bounce */
  /* overflow-x: hidden; //hidden일경우 sticky안됨 */
}

body{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0;
  margin: 0;
  height: 100dvh;
  /* scroll-snap-type: y mandatory; */
  /* 
  overflow-x: clip;
  user-select: none; */
  /* -webkit-overflow-scrolling: touch; 터치감도*/

  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    border: none;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
  }
}

.custom-magnify-cursor {
  background-color: white;
  img {
    object-fit: cover;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea { 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  resize: none;
  outline: none;
}

input[type='text']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  color: #333;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
  cursor: pointer;
}
.infinite-scroll-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ql-align-center{
  text-align: center;
}
.ql-align-right{
  text-align: center;
}
@media screen and (max-width: 768px) {
  * {
    user-select: none;
    -webkit-user-select: none;
  }
}